# Compiled Object files
*.slo
*.lo
*.o
*.csv
*pyo
*.zip
*.npy


# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python Compiled
*.pyc
*.pyd
*.pyx

# Executables
run
test

# Android
*.iml
*gradle*
idea/


